.container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 70%;
     height: 500px;
     padding: 20px;
     border-radius: 7px;
     margin: auto;
     margin-top: 30px;
     background-color: #1360b8;
     color: rgb(255, 255, 255);
     box-shadow: 15px 20px 15px rgb(65, 65, 65);
     font-family: sans-serif;
     font-size: 19px;
}
ul{
     transform: translateX(-22px);
     list-style: none;
}

.container a{
     color: black;
}

@media (max-width:510px){
     .container{
          text-align: center;
     }
}
